$form-spacing: 25px;
form {
  max-width: 551px;
  margin: 0 auto;
  .input {
    margin-bottom: $form-spacing;
  }
  .message {
    display: none;
  }
  .error {
    input:not([type="checkbox"]),
    select {
      box-shadow: 0 0 8px -2px rgba(255, 0, 0, 0.5);
    }
    .message {
      display: block;
      color: red;
    }
  }
  input:not([type="checkbox"]),
  select {
    border: 1px solid #A1A5A9;
    border-radius: 30px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 20px 30px;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    transition: box-shadow 200ms ease;
    height: 58px;
    &:focus {
      box-shadow: 0 0 8px -2px rgba(48, 154, 191, 0.5);
    }
  }
  select {
    background: url("~assets/images/down_arrow.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 94% 22px;
    background-color: white;
    color: #4B4F54;
  }
  .form-row {
    display: flex;
    margin: 0 ($form-spacing/-2);
    flex-wrap: wrap;
    .col {
      flex: 1 0 50%;
      padding: 0 ($form-spacing/2);
      min-width: 250px;
    }
    #city {
      flex-basis: 33%;
      min-width: 175px;
    }
    #state {
      flex-basis: 33%;
      min-width: 175px;
    }
    #zip {
      flex-basis: 33%;
      min-width: 175px;
    }
  }
  .cc {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12.5px;
    .input {
      padding: 0 12.5px;
      flex: 1 0 calc(50% - 25px);
      min-width: 175px;
    }
    #cc_number {
      flex: 1 0 50%;
      min-width: 250px;
    }
    @media (min-width: 552px) {
      margin: 0;
      .input {
        padding: 0;
        min-width: 115px;
        input {
          padding-right: 10px;
        }
      }
      #cc_number input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0 none;
      }
      #exp_date input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0 none;
      }
    }
  }
  .checkbox {
    text-align: left;
    padding-left: 25px;
    margin-bottom: 25px;
    label {
      input {
        margin-left: -25px;
        float: left;
      }
    }
  }
  input[type='submit'] {
    color: #ffffff;
    background: #ff671b;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    &:disabled {
      background: #ff9e6e;
    }
  }
}
@media (min-width: 551px) {
  .credit-logos {
    margin-left: 45px;
  }
}
.global-error {
  border: 1px solid red;
  color: red;
  padding: 20px;
  border-radius: 5px;
  background: #ffbebe;
  margin-bottom: 25px;
}
