@import 'vars';
@import "form";
.container {
  margin: 0 auto;
  padding: 0 15px;
  @media(min-width: 1200px) {
    max-width: 1170px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  @media(max-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.col-7 {
  flex: 0 0 58.3333333333333%;
  max-width: 58.3333333333333%;
  @media(max-width: 1050px) {
    flex: 0 0 75%;
    max-width: 75%;
  }
  @media(max-width: 820px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  @media(max-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
[class*='col-'] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
*, *::before, *::after, body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.text-center {
  text-align: center;
}
.justify-content-center {
  justify-content: center;
}
h2 {
  color: $blue;
  font-size: 35px;
  font-weight: 600;
  line-height: 51px;
  margin-bottom: 20px;
}
p {
	color: #727272;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  @media (max-width: 480px) {
    font-size: 17px;
  }
}
a {
  color: $blue;
  font-weight: bold;
}
h4 {
  color: #727272;
  font-size: 24px;
  margin-bottom: 20px;
}
section {
  padding: 100px 0;
  @media (max-width: 768px) {
    padding: 75px 0;
  }
  @media (max-width: 480px) {
    padding: 50px 0;
  }
}
.hero {
  background: url('~assets/images/hero_bg.png');
  background-size: cover;
  padding: 80px 0 70px;
  @media (max-width: 768px) {
    padding: 75px 0;
  }
  @media (max-width: 480px) {
    padding: 50px 0;
  }
  background-repeat: no-repeat;
  h1 {
    color: #ffffff;
  	font-size: 56px;
    font-weight: bold;
    line-height: 66px;
    margin-bottom: 20px;
    @media (max-width: 480px) {
      font-size: 40px;
      font-weight: bold;
      line-height: 50px;
    }
  }
  p {
  	font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
  }
}
.section_1 {
  .text-center {
    p {
      margin-bottom: 50px;
    }
  }
  .col-6 {
    p {
      margin-bottom: 30px;
    }
    p:last-of-type {
      @media(min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }
}
.form_section {
  background-color: #F3F3F3;
}
.section_4 {
  p {
    margin-bottom: 0;
  }
}
.flex {
  display: flex;
  &.space-between {
    justify-content: space-between;
  }
}
